{% extends 'homepage.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style media="screen">
   body{
    background-image: url('https://img.freepik.com/free-photo/top-view-international-worker-s-day-still-life_23-2150337535.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
   }
  
    .student{
      margin-top: 10%;
      margin-bottom: 5px;
      text-align: center;
      

    }
    .btn btn-info{
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      border-radius: 0%;
    } 
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <br><br>
    <div class="student" style="margin-bottom:0px;">
        <h1 class="display-4">Hello Student,</h1>
        <p> Welcome to Online Examination System</p>
        <p>Select any of them to access into the system</p>
        <p class="lead">
            <a class="btn btn-info rounded-0" href="{{url_for('studentsignin')}}" role="button">Create Your Account</a>
            <a class="btn btn-info rounded-0" href="{{url_for('studentlogin')}}" role="button">Login Now</a>
        </p>
        <br><br><br><br><br><br>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>
